body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #313338;
    flex-direction: column;
}

html,body {
    overflow: hidden;
}

.canvas-container {
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #313338;
}

#pointer {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#pen {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}